/*@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
	margin:0;padding:0;box-sizing:border-box; word-wrap: break-word; color: #232323;
}

*::before, *::after{box-sizing:border-box
}
.clearfix::after{content:"";display:table;clear:both}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
body{font-family:'Montserrat', sans-serif;font-size:16px;min-height:100vh;color:#333}
li{list-style:none}
a{text-decoration:none}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
textarea{overflow:auto}
input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit;outline:none;border:0}
button,input,optgroup,select,textarea{line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}
.container{width:1200px;max-width:100%;margin:0 auto;position:relative;padding:10px 15px 0 15px}


.container_img{
  display: block;
  width:100%;
  height: 100%;
}



#menu{
  width:75%;
  margin-top: 0;
  z-index: 10;
}

#menu_list{
	z-index:1;
   background-color: white;
}


.menu_list_item{
	display: inline-block;
	padding: 5px;
	width:13.9%;
	text-align: center;
	height:50px;
	line-height:41px;

}

.menu_list_item:first-child{
	background:blue;
	color:white;
}

#container_main::after{
  content: "";
  clear: both;
  display: table;
 }
 
 #container_main{ 
  position: relative;
  top:0;
  z-index: -1;
  margin-bottom:-50px;
}

#container_main_text{
	float: left;
	width:60%;
}

#container_main_heading{
	width: 80%;
    height: 96px;
    font-size: 40px;
    line-height: 46px
    max-height: : 92px;
    overflow: hidden;
    font-weight: bold;
    margin: 171px 65px 0px;
}


#container_main_description{
  width: 80%;
  height: 60px;
  font-size: 14px;
  line-height:20px;
  max-height: 40px;
  margin: 36px 65px 0px;
}

#read_more{
	margin: 36px 65px 0px;
}

#read_more_arrow{
	  display: inline-block;
    width: 28px;
  	height: 28px;
  	background-color: #141326;
    line-height: 28px;
    border-radius: 50%;
    text-align: center;
}

#read_more_text{
  font-size: 11px;
  font-weight: bold;
  line-height: 17px;
  max-height: 34px;
  letter-spacing: 1.5px;
  

}

#container_main_img{
	float:left;
	width:35%;
  position: relative;
  top:-50px;
  z-index: -1;
}

#container_main_search{
	text-align: center;
	float:left;
	width:5%;
  object-fit: contain;
  position: relative;
  top:-50px;
  z-index: -1;
  padding-top:20px;
}

#search_container{
  height: 17px;
  width: 17px;
  display: inline-block;
}
#featured_articles{
  background-image: linear-gradient(to left, #040653, #0e0d1e);
}

#featured_atricles_title{
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 20px 0 0 10px;
  margin-bottom: 30px;
  display: inline-block;
}

.arts_wrapper::after{
  content: "";
  clear: both;
  display: table;
}
  

.arts_wrapper{
  margin: 0 -27px;
}

.arts{
	padding: 0 27px;
	margin-bottom: 51px;
	width:50%;
	float: left;
}

.arts_img{
	float:left;
	padding: 0 10PX;
	width:40%;

}

.featured_img{
	border-radius: 6px;
  display: block;
  width: 100%;
}

.arts_text{
	float:right;
	width:60%;
	padding: 0 10px;
}

.title{
  font-size: 11px;
  line-height: 17px;
  max-height: 34px;
  overflow: hidden;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #369fff;
}

.caption{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #ffffff;
    max-height: 72px;
    overflow: hidden;
    margin: 0 0 10px;
}
/*line-height will be +6px of font-size*/

.text{
  font-size: 14px;
  font-weight: 300;
  opacity: 0.6;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  letter-spacing: 0.5px;
  color: #ffffff;
}


#pop_art_highlights{
  padding-top:20px;
}

#pop_art_highlights_container::after{
  content: "";
  clear: both;
  display: table;
}

#pop_art_highlight_container{
	text-align: center;
}

#most_pop_art{
  width:65%;
  float: left;
}

#pop_art_title_container{

}

#pop_art_title_container::after{
  content: "";
  clear: both;
  display: table;
}

#most_pop_art_title{
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  float:left;
}

#see_all{
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  float: right;

}

#pop_art_desc{
  width: 80%;
  opacity: 0.6;
  font-size: 14px;
  line-height: 20px;
  max-height: 60px;
  overflow: hidden;
  letter-spacing: 0.5px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 40px;

}

#pop_art_container::after{
  content: "";
  clear: both;
  display: table;
}

#pop_art_container{
  height: auto;
  margin: 0 -25px;
}

.pop_art{
  margin-bottom: 45px;
  width: 33%;
  padding: 0 25px;
  float: left;
}


.pop_art_img{
	width:100%;
}

.pop_art_text{
	margin-top: 15px;
	margin-bottom: 15px;
	width:100%;
}

.pop_art_date{
  opacity: 0.3;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #262626;
}

#highlights{
  width:25%;
  float: right;
  display: inline-block;
}

#highlights_title{
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 50px;
}

#highlights_container{

}

.highlights_content{
  margin-bottom: 50px;
  width: 100%;
  height: auto;
}

.highlights_content::after{
  content: "";
  clear: both;
  display: table;
}

.highlights_img{
  float: right;
}

.highlights_data{
  float: left;
  width: 147px;
}

.highlights_text{
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  max-height: 36px;
  overflow: hidden;
  color: #262626;
  margin-bottom: 8px;

}

.highlights_date{
  opacity: 0.3;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #262626;
}

#foot{
  background-color: rgba(158, 168, 173, 0.1);
  padding: 20px 10px;
}

#blog{
  width:35%;
  float:left;
  padding: 0 30px;
}

#blog_title{
  font-size: 50px;
  font-weight: bold;
  color: #262626;
  margin-bottom: 30px;
}

#blog_text{
  opacity: 0.8;
  font-size: 14px;
  line-height: 20px;
  max-height: 100px;
  overflow: hidden;
  letter-spacing: 0.5px;
  text-align: justify;
  color: #262626;
  
}

#interests{
  width: 27%;
  float:left;
  padding: 0 30px;
}

#interests_title, #links_title, #follow_us_title{
  opacity: 0.2;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.14;
  letter-spacing: 0.71px;
  color: #262626;
  margin-bottom: 30px;
}


.interests_content::after{
  content: "";
  clear: both;
  display: table;
}

.interests_content{
  margin: 0 -20px 20px;
}

.text_date{
  width:60%;
  float:left;
  padding:0 20px;

}

.img_container{
  width:40%;
  float:left;
  padding:0 20px;
}

.text1{
  font-weight: bold;
  line-height: 18px;
  color: #262626;
  font-size:12px;
  overflow: hidden;
  max-height: 36px;
  margin-bottom: 10px;

}

.date{
  opacity: 0.3;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #262626;

}

#links{
  padding: 0 30px;
  width: 19%;
  float:left;
}

.links_content{
  font-size: 14px;
  font-weight: bold;
  max-height: 40px;
  line-height: 20px;
  overflow: hidden;
  color: #262626;
  margin-bottom:4px;
}

#follow_us{
  width: 19%;
  float:left;
  padding: 0 30px;
}

#subscribe{
  width: 120px;
  height: 40px;
  border-radius: 4px;
  background-color: #1d1d1d;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  line-height: 40px;
}


#footer_container::after{
  content: "";
  clear: both;
  display: table;
}

#footer_container{
	/*margin:0 -30px;*/
}


@media screen and (max-width: 1199px){
  .menu_list_item{
    display:block;
    width: 100%;
  }
  #menu{
    width:100%;
    margin-top: 0;
   }

  #most_pop_art{
    width:100%;
  }

  #highlights{
    text-align:center;
    width: 100%;

  }

  #highlights_container::after{
    content: "";
    clear: both;
    display: table;
  }

  #highlights_container{
    display: inline-block;
    width: 65%;
    margin: 0 -30px;
  }

  .highlights_content{
    width:50%;
    float: left;
    padding:0 30px;
  }

  #container_main_text{
    width:100%;
    position: relative;
    top:-80px;
  }

  

  #container_main_img{
    width:100%;
    height:440px;
  }

  #container_main{
    position: relative;
  }

  #container_main_search{
    width: 100%;
    /*width: 80%;
    left:10%;
    border-radius: 10px;*/
    position: absolute;
    top:0px;
    background-color: rgba(158, 168, 173, 0.4);
    text-align: left;
    padding: 10px;
  }
}

@media screen and (max-width: 991px){

  #blog{
    width:100%;
    margin-bottom: 30px;
  }
  #links, #follow_us{
    width:25%;
  }
  #interests{
    width:50%;
  }

  #footer_container{
    margin:0;
  }

  .highlights_content{
    width:100%;
    float:none;
    padding:0;
  }

  #highlights{
    text-align:center;
  }

  #highlights_container{
    display: inline-block;
    width: 40%;
  }

  #container_main_img{
    height:380px;
  }

}

@media screen and (max-width: 767px){
  
  .arts{
    width:100%;
  }
  .pop_art{
    width:50%;
  }

  #highlights_container{
    width:55%;
  }

  .img_container {
    padding:0;

  } 

  #container_main_img{
    height:380px;
  }

}


@media screen and (max-width: 575px){
  .pop_art{
    width:100%;
  }

  #links, #follow_us{
    width:50%;
  }
  #interests{
    width:100%;
    margin-bottom: 30px;
  }
  #blog{
    width:100%;
    margin-bottom: 30px;
  }

  #highlights_container{
    width:80%;
  }

  .img_container {
    padding:0 20px;

}
  #container_main_img{
    height:380px;
  }

}



